<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elsinga.sample.googletv.controller"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitialScreenActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QuestionQuizClientActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WinnerActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.example.google.tv.anymotelibrary.client.AnymoteClientService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>